/*BODY*/
* {
    margin: 0;
    padding: 0;
    --accentColor : rgb(255,55,55);
    --accentBGColor : rgb(255,55,55);
    --accentOpacityColor: rgba(255,55,55,0.5);
    --themeColor: rgb(25,25,25);
    --themeBGColor: rgb(240,240,240);
    --themeLineColor: rgb(110,110,110);
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 575px;
    min-height: 440px;
}
/*TOP NAV*/
nav {
    background-color: var(--themeBGColor);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--themeLineColor);

}
.menu {
    color: var(--themeColor);
    cursor: pointer;
}
.menuBurger {
    padding: 3px 15px 0px 15px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--themeColor);
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
.menuBurger:hover > .bar1,
.menuBurger:hover > .bar2,
.menuBurger:hover > .bar3 {
    background-color: var(--accentBGColor);
}
.menuTitle{
    font-family: 'Ceviche One', cursive;
    font-size: 50px;
    line-height: 60px;
    padding: 0px 0px 0px 0px;
}
.menuLoginLogout {
    display:inline-block;
    font-size:35px;
    padding: 6px 0px 0px 13px;
}
.menuTheme {
    display:inline-block;
    font-size:35px;
    padding: 6px 0px 0px 13px;
}
.menuAccent {
    display:inline-block;
    font-size:35px;
    padding: 6px 0px 0px 13px;
}
.menuQuit {
    display:inline-block;
    font-size:35px;
    padding: 6px 13px 0px 13px;
}
.menuLoginLogout:hover,
.menuTheme:hover,
.menuAccent:hover,
.menuQuit:hover {
    color: var(--accentColor);
}
/*MIDDLE*/
middle {
    display: flex;
    height: 100%;
}
/*MIDDLE SIDEBAR*/
aside {
    background-color: var(--themeBGColor);
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    width: 65px;
}
aside li {
    cursor: pointer;
    border-bottom: 1px solid var(--themeLineColor);
    margin-bottom: -1px;
    height: 60px;
    color: var(--themeColor);
    display: flex;
    align-items: center;
}
aside li:hover > i {
    color: var(--accentColor);
}
aside li i {
    list-style: none;
    display: flex;
    font-size: 40px;
    line-height: 60px;
    width: 65px;
    text-align: center;
}
aside li div {
    list-style: none;
    display: none;
    font-size: 20px;
    line-height: 60px;
    width: 135px;
    justify-content: center;
}
/*MIDDLE CONTENT SECTION*/
/*FOOTER*/
footer div {
    text-align: center;
    line-height: 40px;
    color: var(--themeColor);
    background-color: var(--themeBGColor);
    border-top: 1px solid var(--themeLineColor);
}
/*LOGIN MODAL*/
modalLogin {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    position: relative;
    background-color: rgb(240,240,240);
    margin: 0px auto;
    padding: 0px;
    width: 100% !important;
    max-width: 250px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal-header {
    font-size: 20px;
    color: white;
    padding: 5px 15px 5px 15px;
    background-color: var(--accentBGColor);
}
.close {
    color: white;
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-body {
    padding: 10px 15px 10px 15px;
}
.modal-body input[type=submit],button{
    width: 49%;
    display: inline-block;
    justify-content: center;
    border: 0px;
    color: rgb(25,25,25);
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: rgb(200,200,200);
    padding: 10px 0px;
    font-size: 15px;
}
.modal-body input[type=text],input[type=password]{
    height: 40px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 0 10px;
    box-sizing: border-box;
}
.modal-footer {
    padding: 5px 16px;
    background-color: var(--accentBGColor);
    color: white;
}