/*MIDDLE CONTENT SECTION*/
/*INDEX*/
#index article {
    padding: 10px;
}
#index article>h1{
    padding: 0px 100px 0px 0px;
    font-size: 30px;
    text-align: center;
}
#index article>p{
    font-size: 20px;
    text-align: center;
    padding: 0px 0px 10px 0px;
}
#index main>p{
    text-indent: 25px;
    text-align: justify;
}
/*READ FEEDS*/
#readFeeds article {
    padding: 10px;
    border-bottom: 1px solid var(--themeLineColor);
}
#readFeeds header {
    font-size: 20px;
    padding: 0px 0px 0px 25px;
}
#readFeeds main{
    display: inline-flex;
    overflow: hidden;
    height: 72px;
    padding: 5px 0px 0px 0px;
}
#readFeeds main img {
    border: 1px solid var(--accentColor);
    margin: 0px 10px 0px 0px;
    height: 70px;
    width: 70px;
}
#readFeeds main p {
    text-indent: 10px;
    text-align: justify;
}
#readFeeds main i {
    align-self: flex-end;
    color: var(--accentColor);
}
/*ORGANIZE*/
#organize article {
    padding: 10px 10px 10px 10px;
}
#organize table {
    border-collapse: collapse;
    width: 600px;
    margin: 5% auto;
}
#organize th, #organize td {
    border: 1px solid var(--themeLineColor);
    text-align: left;
    padding: 8px;
}
#organize th{
    text-align: center;
}
#organize tr td:nth-of-type(1){
    text-align: center;
    width: 10px;
}
#organize tr td:nth-of-type(2){
    text-indent: 20px;
}
#organize tr td:nth-of-type(3){
    text-align: center;
    width: 60px;
}
#organize th {
    color: var(--themeColor);
    background-color: var(--themeBGColor);
}
#organize tr:not(:first-child):hover{
    background-color: white;
}
#organize th i{
    color: red;
}
#organize i:hover{
    color: var(--accentColor);
}
/*DISCOVER*/
#discover article {
    padding: 10px;
    width: 600px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
}
#discover h1 {
    text-align: center;
    font-size: 70px;
    padding: 0px 0px 20px 0px;
}
#discover main {
    display: inline-flex;
    width: 100%;
}
#discover main input{
    width: 90%;
    text-indent: 25px;
}
#discover main button{
    width: 10%;
    font-size: 20px;
    color: var(--themeColor);
    background-color: var(--themeBGColor);
    border: thin solid var(--themeLineColor);
}
#discover main button:hover{
    background-color: var(--accentColor);
}
/*CONTACT*/
#contact article {
    padding: 10px;
    width: 600px;
    margin: 5% auto;
}
#contact mainH {
    font-family: 'Ceviche One', cursive;
    font-size: 40px;
    line-height: 50px;
}
#contact main {
    display: flex;
    flex-direction: column;
}
#contact main div {
    display: inline-flex;
    width: 100%;
    padding: 0px 0px 5px 0px;
}
#contact main div > *{
    width: 100%;
    line-height: 20px;
    text-indent: 25px;
}
#contact mainF button {
    height: 35px;
    background-color: var(--themeBGColor);
    color: var(--themeColor);
    border: thin solid var(--themeLineColor);
    float: right;
    padding: 0 20px;
}
#contact mainF button:hover {
    background-color: var(--accentColor);

}