/*MIDDLE CONTENT SECTION*/
/*INDEX*/
#index article {
    padding: 10px;
}
#index article>h1{
    padding: 0px 100px 0px 0px;
    font-size: 30px;
    text-align: center;
}
#index article>p{
    font-size: 20px;
    text-align: center;
    padding: 0px 0px 10px 0px;
}
#index main>p{
    text-indent: 25px;
    text-align: justify;
}
/*READ FEEDS*/
/*ORGANIZE*/
/*DISCOVER*/
#discover article {
    padding: 10px;
    width: 600px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
}
#discover h1 {
    text-align: center;
    font-size: 70px;
    padding: 0px 0px 20px 0px;
}
#discover main {
    display: inline-flex;
    width: 100%;
}
#discover main input{
    width: 90%;
    text-indent: 25px;
}
#discover main button{
    width: 10%;
    font-size: 20px;
    color: var(--themeColor);
    background-color: var(--themeBGColor);
    border: thin solid var(--themeLineColor);
}
#discover main button:hover{
    background-color: var(--accentColor);
}
/*CONTACT*/
#contact article {
    padding: 10px;
    width: 600px;
    margin: 5% auto;
}
#contact mainH {
    font-family: 'Ceviche One', cursive;
    font-size: 40px;
    line-height: 50px;
}
#contact main {
    display: flex;
    flex-direction: column;
}
#contact main div {
    display: inline-flex;
    width: 100%;
    padding: 0px 0px 5px 0px;
}
#contact main div > *{
    width: 100%;
    line-height: 20px;
    text-indent: 25px;
}
#contact mainF button {
    height: 35px;
    background-color: var(--themeBGColor);
    color: var(--themeColor);
    border: thin solid var(--themeLineColor);
    float: right;
    padding: 0 20px;
}
#contact mainF button:hover {
    background-color: var(--accentColor);

}